
extends layout

block content
    .container
      br
      h1 CS 569: AWS Fundamentals 
      br
    .container
      .table-responsive
        table.table(style='background: white;')
          tbody
            tr(style='background: #64BECD;')
              td(style='')
                strong WEEK
              td(style='')
                p
                  strong TOPIC
              td(style='')
                p
                  strong DESCRIPTION
              td(style='')
                p
                  strong RESOURCES
            tr
              td(style='text-align: center;', rowspan='4')
                p 1
              td(style='')
                p AWS Global Infrastructure
              td(style='')
                p
                  | Get started by watching this video explaining how AWS is designed to provide reliable, scalable and flexible cloud computing environment.
              td(style='')
                a(href='https://www.youtube.com/watch?v=RPis5mbM8c8', target='_blank') Video: AWS Infrastructure
            tr
              td(style='')
                p Introduction to Core Services
              td(style='')
                p
                  | We'll briefly cover the core Amazon Web Services at this time and will discuss them further in the course as we walk through the implementations.
              td(style='')
                a(href='https://acloud.guru/learn/aws-technical-essentials', target='_blank') AWS 10,000ft. overview
            tr
              td(style='')
                p Implement EC2 to create web server
              td(style='')
                p
                  | As we move towards utilising these services provided by AWS, let's first get our server running with the help of EC2.
              td(style='')
                a(href='https://medium.com/@GalarnykMichael/aws-ec2-part-1-creating-ec2-instance-9d7f8368f78a', target='_blank') A Step-by-step guide to launching EC2 Instance
            tr
              td(style='')
                p AWS Databases
                ul
                  li RDS
                  li DynamoDB
                  li Elasticache
              td(style='')
                p
                  | Amazon RDS provides a way to set up relational database in the cloud. It also provides you with Database Migration Service to migrate your existing databases to RDS.
                p
                  | DynamoDB is a  non relational DB supporting key-value and document data models. Its set up to support applications that scale globally holding upto millions of R/W requests per second.
                p
                  | Elasticache, popular choice for Gaming, IOT apps, is known to provide extreme performance improvements to existing apps by caching from in-memory data stores.
              td(style='')
      .container-fluid.text-center.text-md-left
        br
        p
          | Checkout more interesting 10-minute hands-on videos to get started with some services offered by AWS: 
          a(href='https://aws.amazon.com/getting-started/tutorials/?sc_icampaign=acq_aws_takeover-1st-visit&sc_ichannel=ha&sc_icontent=awssm-evergreen-1st-visit&sc_iplace=ed&trk=ha_awssm-evergreen-1st-visit&awsm.page-tutorials-all=2', target='_blank') 10-Minute Tutorials
        br
